/* Fondo degradado principal */
.bg-primary-gradient {
  background: linear-gradient(118deg, #296193 -2.46%, #203B54 115.45%);
}

/* Header (Navbar) */
.header {
  background: #296193;
  margin-bottom: 0; /* Aseguramos que no haya separación entre header y hero */
}

/* Estilo del logo */
.logo {
  height: 50px;
}

/* Hero Section */
.hero {
  background-color: white;
  margin-top: 0; /* Sin margen superior */
}

.hero h1 {
  color: #203B54;
}

.hero p {
  font-size: 1.2rem;
  color: #596E84;
}

.hero .btn-outline-primary {
  border: 2px solid #296193;
  color: #296193;
}

.hero .btn-outline-primary:hover {
  background-color: #296193;
  color: white;
}

/* Estilo del contenedor vertical */
.vertical {
  background: linear-gradient(180deg, #296193 31.5%, rgba(32, 59, 84, 0.00) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo del laptop dentro de la sección hero */
.laptop-container {
  position: relative;
  max-width: 350px; /* Ajustar el tamaño del laptop */
}

.laptop-frame {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Sombra suave para efecto 3D */
}

/* Sección de contacto */
.contact textarea {
  height: 150px;
}

/* Estilo de enlaces de redes sociales */
.social-links a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 15px;
}

/* Estilos para la sección de características (features) */
.container-features {
  color: white;
  background: linear-gradient(118deg, #296193 -2.46%, #203B54 115.45%);
}

.card {
  color: black;
}
