main , html , body{
  background-color: #18113B;
}

header{
  background-color: #050B36;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo-text-agile {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #fff;
}

.logo-text {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #fff;
}

/* Enlaces de navegación */
.navbar-links a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}


/* Responsividad */
/*darle espacio entre cada elemento de la lista*/
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    padding-inline-start: 1em;
    

  }
.navbar-links{
  padding-left: 1em;
}
  .navbar li{
    padding-left: 1em;
  }

  .navbar-links a {
    font-size: 0.8em;
  
  }


}

/* Imagen de fondo para la sección principal */
.hero-section {
  background-image: url('img/hero.png'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Crea un overlay oscuro sobre la imagen */
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2; /* Asegura que el texto y las cajas estén por encima del overlay */
  padding-top: 100px;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.25rem;
}

.hero-section .btn {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}

/* Estilo de las cajas de beneficios (Benefit Boxes) */
.benefit-box {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.13) 68.53%);
  backdrop-filter: blur(16px);
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.benefit-box h5 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.benefit-box p {
  font-size: 1rem;
}

.benefit-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Responsividad */
@media (max-width: 768px) {
  .hero-section {
      height: auto;
      padding-top: 60px;
      padding-bottom: 60px;
  }

  .hero-section h1 {
      font-size: 2rem;
  }

  .hero-section p {
      font-size: 1rem;
  }
}



/* Servicios */
.service-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido esté distribuido uniformemente */
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.13) 68.53%);
  backdrop-filter: blur(16px);
  color: white;
  border-radius: 16px;
  text-align: center;
  padding: 1em;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  flex-grow: 1; /* Permite que las cajas crezcan para llenar el espacio disponible */
  flex-basis: calc(20% - 2em); /* Ajusta el ancho base de cada caja */
  height: 300px; /* Mantiene una altura fija */
  width: 228px;
  max-width: 350px; /* Limita el ancho máximo de las cajas */
}

.service-box h2 {
  font-size: 1.5rem; /* Ajusta el tamaño de fuente del título */
  margin-bottom: 15px; /* Espaciado uniforme debajo del título */
  word-wrap: break-word; /* Asegura que el texto largo se ajuste en pantallas pequeñas */
}

.service-box p {
  font-size: 1rem; /* Ajuste ligero del tamaño de fuente del párrafo */
  margin-top: 5px;
}

.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Fila de servicios */
.services-row {
  margin-left: -1.6em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* Distribuye uniformemente los cuadros */
  gap: 3.5em; /* Espacio entre columnas */
  margin-bottom: 2em; /* Añade espacio extra debajo de la fila */
  width: 100%; /* Usa todo el ancho del contenedor */
  
}
/*cajas hacia abajo en dispostivios moviles */
@media (max-width: 768px) {
  .services-row {
    flex-direction: column;
    align-items: center;
  }
  .service-box {
    margin-left: 3em;

    
    width: 90%; /* Las cajas ocupan el 100% del ancho en pantallas pequeñas */
    padding: 30px;
  }

  .service-box h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del título en pantallas pequeñas */
    padding-bottom: 0.3em;
  }

  .service-box p {
    font-size: 1rem; /* Ajusta el tamaño del párrafo en pantallas pequeñas */
    margin-top: -6em;
  }
}



/* Estilos para la sección de tecnologías */
.tools-grid {
  margin-left: -2.5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Crea 8 columnas de igual tamaño */
  gap: 1.5em; /* Espacio entre las herramientas */
  padding: 0.1em; /* Padding interno */
}

.tool {
  background-color: #231953;
  border-radius: 28px;
  padding: 1em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
  color: white;
  width: 130px; /* Asegura que ocupe todo el ancho disponible */
  height: 130px; /* Tamaño fijo para todas las tools */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.tool:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
  color: #231953; /* Cambia el color del texto en hover */
}

.tool img {
  width: 3em; /* Ajusta el tamaño de las imágenes de tecnología */
  height: 3em;
  margin-bottom: 0.5em;
}

.tool p {
  font-size: 1rem; /* Tamaño de fuente para el nombre de la tecnología */
  margin: 0;
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}

@media (max-width: 768px) {
  .tools-grid {
    margin-left: 1em;
    grid-template-columns: repeat(2, 1fr); /* Cambia a 2 columnas en pantallas pequeñas */
  }

  .tool {
    height: 130px; /* Reduce el tamaño de las tools en pantallas pequeñas */
  }
}

/* Sección de Contacto */
.contact-content {
  min-width: 99vw;
  background-color: #1B1B3E;
  color: rgb(0, 0, 0);
  
  padding-right: 1.5em;
  margin-left: -5em;
}

.contact-info {
  width: 60%;
  height: 80%;
  background-color: #f0f0f0;
  padding: 3em;
  padding-right: 10em;
  min-height: 80vh;
  
}

.contact-form-container {
  background-color:#1B1B3E;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 16px;
}

.contact-form {
  width: 100%;
  max-width: 400px;
}

.contact-form input, 
.contact-form textarea {

  color: white;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid var(--light-white-25, rgba(255, 255, 255, 0.25));
background: var(--light-white-6, rgba(255, 255, 255, 0.06));
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form button {
  width: 100%;
  background-color: #7e57c2;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #5e35b1;
}

@media (max-width: 768px) {
  .contact-content {
    margin-left: 0;
    flex-direction: column;
  }

  .contact-info, .contact-form-container {
    width: 100%;
    margin-bottom: 1em;
  }

  .contact-info {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .contact-info {
    clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
  }
}
